version: '3.8'

x-router-base: &router_base
  cap_add:
    - NET_ADMIN
  build:
    context: ./roteador
    dockerfile: Dockerfile

x-host-base: &host_base
  cap_add:
    - NET_ADMIN
  build:
    context: ./host
    dockerfile: Dockerfile

services:
{% for router in routers %}
  {{ router.id }}:
    <<: *router_base
    container_name: {{ router.id }}
    environment:
      - ROTEADOR_ID={{ router.id }}
      - ENDERECO_IP={{ router.ip }}
      - VIZINHOS={ {{ router.neighbors_str }} }
    networks:
{% for network in router.networks %}
      {{ network.name }}:
        ipv4_address: {{ network.ip }}
{% endfor %}
{% endfor %}

{% for host in hosts %}
  {{ host.name }}:
    <<: *host_base
    container_name: {{ host.name }}
    environment:
      - ROTEADOR_CONECTADO= {{ host.router }}
    networks:
      {{ host.network }}:
        ipv4_address: {{ host.ip }}
{% endfor %}

networks:
{% for network in networks %}
  {{ network.name }}:
    driver: bridge
    ipam:
      config:
        - subnet: {{ network.subnet }}
          gateway: {{ network.gateway }}
{% endfor %}